.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60vw;
  margin: 0 auto;

  .card {
    transition: 0.5s;
    width: 200px;
    height: 300px;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    background-image: url("../public/src/card-background.png");
    transition: 0.5s;

    &:hover {
      box-shadow: 0 0 30px $dark-grey;
    }

    .card-miniature {
      width: 100%;
      height: 200px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .card-text {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 100px;
      color: $text-white;
      font-size: $font-medium;
      text-decoration: none;
      background-color: black;

      span {
        display: block;
        padding: 5px;
        font-size: $font-small;
      }
    }

    &.hover {
      box-shadow: 0 8px 16px $dark-transparent;
    }

    .container {
      padding: 2px 16px;
    }
  }
}
