.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .container-element {
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 5px;
    cursor: pointer;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    vertical-align: center;
    transition: 0.5s;

    &:hover {
      filter: grayscale(100%);
    }

    .text-field {
      width: 30vh;
      height: 7vh;
      background-color: $dark-transparent;
      border-radius: 20px;
      color: $text-white;
      text-align: center;
      transition: 0.5s;

      div {
        padding: 2vh;
        font-size: 3vh;
      }

      &:hover {
        box-shadow: 0 0 10px $text-white;
        background-color: $black;
      }
    }
  }
}

@media (max-width: 800px) {
  .landing-container {
    flex-direction: column;
    height: 100%;
  }
}
