.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .container-element {
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 5px;
    cursor: pointer;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .text-field {
      width: 200px;
      height: 50px;
      background-color: $dark-transparent;
      border-radius: 20px;
      color: $text-white;
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .landing-container {
    flex-direction: column;
    height: 100%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60vw;
  margin: 0 auto;

  .card {
    box-shadow: 0 4px 8px 0 $dark-transparent;
    transition: 0.3s;
    width: 200px;
    height: 300px;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 10px;

    .miniature {
      width: 100%;
      height: 200px;
      text-align: center;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    &.hover {
      box-shadow: 0 8px 16px $dark-transparent;
    }

    .container {
      padding: 2px 16px;
    }
  }
}
