.filter-options {
  width: 60vw;
  height: 5vh;
  margin: 10px auto 10px;
  padding: 10px;
  background-color: $black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .dropdown {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: $font-medium;

    select {
      width: 50px;
      background-color: $black;
      color: $text-white;
      border: none;
      box-shadow: 0 0 2px $text-white;
      transition: 0.5s;
      font-size: $font-medium;

      &:hover {
        box-shadow: 0 0 10px $text-white;
      }
    }

    .dropdown-description {
      width: 150px;
      text-align: center;
    }
  }
}

.theme-dropdown {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: $font-medium;

  select {
    width: 200px;
    background-color: $black;
    color: $text-white;
    border: none;
    box-shadow: 0 0 2px $text-white;
    transition: 0.5s;
    font-size: $font-medium;

    &:hover {
      box-shadow: 0 0 10px $text-white;
    }
  }

  .dropdown-description {
    width: 150px;
    text-align: center;
  }
}
