.logo {
  width: 10vh;
  height: 10vh;
  padding-left: 20px;
  transition: 0.5s;

  &:hover {
    filter: drop-shadow(0 0 5px white);
  }
}

.navmenu {
  overflow: hidden;
  float: right;
  margin: 0 auto;
  height: 100%;

  a {
    color: $text-white;
    text-align: center;
    padding: 4vh;
    text-decoration: none;
    font-size: $font-medium;
    width: 100px;
    height: 100%;
    display: inline-block;
    transition: 0.5s;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
