.pagination {
  display: inline-block;

  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

    &.active {
      background-color: $green-secondary;
      color: $text-white;
    }

    &:hover:not(.active) {
      background-color: #ddd;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}
