.pagination {
  display: inline-block;
  margin: 10px auto 10px;
  background-color: $black;

  a {
    color: $text-white;
    float: left;
    padding: 8px 20px;
    text-decoration: none;
    font-size: $font-medium;
    transition: background-color 0.3s;

    &.active {
      background-color: $green-secondary;
      color: $text-white;
    }

    &:hover:not(.active) {
      background-color: #ddd;
      color: $dark-grey;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}
