$red-primary: #eb2b10;
$red-secondary: #9e2010;
$blue-primary: #1930ff;
$blue-secondary: #0017eb;
$green-primary: #0ceb12;
$green-secondary: #109e14;

$black: #000;
$white: #fff;

$dark-transparent: rgba(0, 0, 0, 0.8);

$text-white: #eeeeee;
