@import "variables";

@import "backgrounds";
@import "container";
@import "footer";
@import "header";
@import "pagination";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #666;
  color: $text-white;
  overflow-x: hidden;
}

header,
footer {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: #000;
  margin: 0 auto;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
