@import "variables";

@import "backgrounds";
@import "card";
@import "container";
@import "dropdown";
@import "footer";
@import "header";
@import "itemPage";
@import "pagination";

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../public/src/background.png");
  background-color: $dark-grey;
  color: $text-white;
  overflow-x: hidden;
}

header,
footer {
  width: 100%;
  height: 10vh;
  position: relative;
  background-color: $black;
  margin: 0 auto;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
